name: Build and Deploy API

on:
  push:
    branches:
      # - main

env:
  AZURE_PYTHON_WEBAPP_NAME_REST: prod-api-app-api-python-sruinard    
  AZURE_PYTHON_WEBAPP_ROOT: '.'
  AZURE_PYTHON_WEBAPP_PACKAGE_PATH_REST: './dist/'
jobs:
  build:
    defaults:
      run:
        working-directory: ${{ env.AZURE_PYTHON_WEBAPP_ROOT }}
    name: Build and Deploy PYTHON REST API
    environment: production
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        python setup.py bdist_wheel 
    - uses: actions/upload-artifact@v2
      with:
        name: tripplanner
        path: ${{ env.AZURE_PYTHON_WEBAPP_PACKAGE_PATH_REST }}
  
  # DEPLOY TO DEVELOPMENT
  deploy_dev:
    name: Deploy to Dev Environment
    needs: [build] 
    runs-on: ubuntu-latest
    environment:
      name: development
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - uses: actions/download-artifact@v2
      with:
        name: tripplanner
    - name: Deploy web App using GH Action azure/webapps-deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: dev-api-app-api-python-sruinard
        package: ${{ env.AZURE_PYTHON_WEBAPP_PACKAGE_PATH_REST }}
        startup-command: "pip install *.whl && python -m uvicorn tripplanner.app:app --host 0.0.0.0"